.widget-commets {
  padding: 20px;
}

.widget-commets label {
  display: block;
  font-weight: bold;
}

.widget-commets textarea {
  width: 300px;
  height: 100px;
}

.widget-commets input {
  width: 300px;
}

.widget-commets .list .item {
  width: 300px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EEE;
  font-size: 14px;
  position: relative;
}

.widget-commets .list .item span.date {
  color: #666;
  display: block;
  text-align: right;
  font-size: 12px;
}

.widget-commets .list .item div.delete {
  position: absolute;
  right: 0px;
  top: 0px;
  font-weight: bold;
  font-size: 16px;
  color: red;
  cursor: pointer;
}
